{{!-- display a single blog --}}
<div class="blog-display">
    <div class="b-header">
        <h2>{{blog.blog_title}}</h2>
        <p>Blog posted by {{blog.user.username}} on {{blog.date}}</p>
    </div>
    <div class="b-content">
        <p>{{blog.blog_text}}</p>
        <br>
        {{#if loggedIn}}
          <p>Comment<p>
          <form class="comment-form">
              <div>
                  <textarea name="comment-body" id="comment"></textarea>
              </div>

              <div>
                  <button type="submit" id="submit-comment">Submit</button>
              </div>
              <br>
          </form>
        {{/if}}
    </div>
</div>

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}

{{!-- display comments --}}
<div class="comments-list">
  {{#each blog.comments}}
    <div class="comment-single">
      <div class="meta">
        Michaelangelo on {{date}} {{!-- {{comments.user}} --}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
      <br>
    </div>
  {{/each}}
</div>

